<?xml version="1.0"?>
<launch>

  <arg name="tf_map_scanmatch_transform_frame_name" default="scanmatcher_frame"/>
  <arg name="base_frame" default="base_link"/>
  <arg name="odom_frame" default="raw_odom"/>
  <arg name="cmd_vel_topic" default="/hoverboard_velocity_controller/cmd_vel"/>
  <arg name="pub_map_odom_transform" default="true"/>
  <arg name="scan_subscriber_queue_size" default="5"/>
  <arg name="scan_topic" default="scan"/>
  <arg name="map_size" default="2048"/>
  <arg name="laser_port" default="/dev/ttyUSB1"/>

  <!-- Base node include hoverboard driver node and raw_odom frame -->
  <include file="$(find htb_base)/launch/htb_base.launch"/>

  <!-- Load robot description-->
  <param name="robot_description" command="$(find xacro)/xacro '$(find htb_description)/urdf/htb.xacro'" />

   <!-- send fake joint values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="False"/>
  </node>

  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- rplidar node -->
  <node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
    <param name="serial_port"         type="string" value="$(arg laser_port)"/>
    <param name="serial_baudrate"     type="int"    value="115200"/><!--A1/A2 -->
    <param name="frame_id"            type="string" value="rplidar_link"/>
    <param name="inverted"            type="bool"   value="false"/>
    <param name="angle_compensate"    type="bool"   value="true"/>
  </node>

  <node name="follower_node" pkg="htb_follow" type="follower.py"/>

</launch>
